

  /* Styling for item class */
.item {
  text-decoration: none;
  font-size: 25px;
  color: black;
}

/* Styling for newsdiv class */
.newsdiv {
  height: 100px;
  width: 100px;
}

/* Styling for container1 class */
.container1 {
  position: relative;
  text-align: center;
  color: white;
}

/* Styling for newstext class */
.newstext {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: black;
  color: white;
  opacity: 0.5;
}

/* Styling for newsss class */
.newsss {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  margin: 10px;
}

/* Styling for sout class */
.sout {
  position: relative;
  color: white;
  text-align: center;
}

/* Styling for sout2 class */
.sout2 {
  position: absolute;
  bottom: 50px;
  left: 75px;
}

/* Styling for sout3 class */
.sout3 {
  text-decoration: none;
  color: white;
}

/* Styling for imgd class */
.imgd {
  text-align: right;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

/* Styling for footer */
.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Styling for footer-container */
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Styling for footer-section */
.footer-section {
  flex: 1;
}

/* Styling for footer-section ul */
.footer-section ul {
  list-style-type: none;
  padding: 0;
}

/* Styling for footer-section h3 */
.footer-section h3 {
  margin-bottom: 5px;
}

/* Styling for footer-section img */
.footer-section img {
  width: 100px; /* Adjust the size of the NASA logo */
  height: auto;
}

/* Styling for social-media-icons */
.social-media-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

/* Styling for social-media-icons img */
.social-media-icons img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Styling for last-child img */
.social-media-icons a:last-child img {
  margin-right: 0;
}

/* Styling for copyright */
.copyright {
  margin-top: 20px;
}

/* Hover effect for h class */
.h:hover {
  border: 4px solid blue;
}

/* Hover effect for dashedhover class */
.dashedhover:hover {
  border-bottom: 2px dashed black;
}

/* Hover effect for dashedhover1 class */
.dashedhover1:hover {
  border-bottom: 1px dashed white;
}

/* Styling for section */
section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0 0;
}

/* Styling for carousel-caption */
.carousel-caption {
  margin-bottom: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

/* Styling for navigation-wrap */
.navigation-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease-out;
  background-color: black;
}

/* Styling for navigation-wrap .nav-item */
.navigation-wrap .nav-item {
  padding: 0 0.5rem;
  transition: all 200ms linear;
}

/* Styling for navigation-wrap .nav-link */
.navigation-wrap .nav-link {
  padding-top: 0.9375rem;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.0625rem;
}

/* Styling for navigation-wrap .nav-link hover and active states */
.navigation-wrap .nav-link:hover,
.navigation-wrap .nav-link.active {
  color: blue;
}
